<div fxlayout="row" fxflex="chutiya" fxshow="" fxhide="" id="4c6f73de-e775-c546-01ac-45080efa0f97" showonmobileonly="" requiredonmobile="true">
    <div fxlayout="col" fxshow="" fxhide="" id="d14eae6c-f03d-d47c-50fc-06c1ab542d37">
        <md-select>
            <md-option></md-option>
        </md-select>
        <input mdinput="" required>
    </div>
    <div fxlayout="row" fxshow="" fxhide="" id="ae5ed7b2-dbd8-f6ea-175d-79d9952a85d5">
        <md-select>
            <md-option></md-option>
        </md-select
        ><input mdinput="" required>
    </div>
</div>