<div id="angularRoot"><div fxLayout="row" fxLayoutAlign="center center" fxShow="true" fxHide="false" id="baeda6d6-cc90-a95c-4558-f6cb52163f01" fxLayout.xs="column"></div><md-card id="870be99e-8fb4-838c-d7bd-99f5c3ef22de"><div fxLayout="row" fxFlex="auto" fxLayoutAlign="center" fxShow="true" fxHide="false" id="6f10d8f6-779e-bb15-e9d1-da18205dd5e8" fxLayout.xs="column"><div fxLayout="column" fxFlex="100" fxLayoutAlign="center center" fxShow="true" fxHide="false" id="ce9e775c-afdb-87dd-37d4-78fd91138059"><br><br>
<i class="material-icons" style="font-size:90px;color:green">check_circle</i> 
<br> <br> 
<div style="color:rebeccapurple" align="center">
  <b>
  Thank You For Your Registration<br> We will Contact You Soon.
  </b>
</div><br>
<br></div></div></md-card></div>