/*Importing default angular material css theme. */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';

/* You can add global styles to this file, and also import other style files */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rebeccapurple;
    margin: 1em 0;
    padding: 0; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button 
{ 
  -webkit-appearance: none; 
  margin: 0; 
}

#btn
{
 -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}