
<div class="alertContainer" fxLayout="column">
  <h4 md-dialog-title>{{titleContent}}</h4>
  <span class="msgContainer" >{{messageContent}}</span>
  <button md-raised-button (click)="dialogRef.close()">Close</button>
</div>
